In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
treatment_data = pd.read_csv('training_set.csv')

In [3]:
treatment_data.head()

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE,SEX,SOURCE
0,33.8,11.1,4.18,4.6,150,26.6,32.8,80.9,33,0,1
1,44.6,14.0,6.86,6.3,232,20.4,31.4,65.0,36,1,0
2,42.9,14.0,4.57,6.2,336,30.6,32.6,93.9,70,0,0
3,41.9,14.4,4.67,3.5,276,30.8,34.4,89.7,18,0,0
4,40.6,13.3,4.85,14.9,711,27.4,32.8,83.7,36,1,0

In [4]:
treatment_data.isnull()

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE,SEX,SOURCE
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
3304,False,False,False,False,False,False,False,False,False,False,False
3305,False,False,False,False,False,False,False,False,False,False,False
3306,False,False,False,False,False,False,False,False,False,False,False
3307,False,False,False,False,False,False,False,False,False,False,False
3308,False,False,False,False,False,False,False,False,False,False,False

In [5]:
treatment_data.shape

(3309, 11)

In [6]:
treatment_data['SOURCE'].value_counts()

0    1992
1    1317
Name: SOURCE, dtype: int64

In [7]:
X = treatment_data.drop (columns='SOURCE',axis=1)
Y = treatment_data['SOURCE']

In [8]:

print(X)

      HAEMATOCRIT  HAEMOGLOBINS  ERYTHROCYTE  LEUCOCYTE  THROMBOCYTE   MCH  \
0            33.8          11.1         4.18        4.6          150  26.6
1            44.6          14.0         6.86        6.3          232  20.4
2            42.9          14.0         4.57        6.2          336  30.6
3            41.9          14.4         4.67        3.5          276  30.8
4            40.6          13.3         4.85       14.9          711  27.4
...           ...           ...          ...        ...          ...   ...
3304         39.0          13.2         4.45        4.0           50  29.7
3305         25.4           8.2         3.27        5.4           90  25.1
3306         38.2          12.4         4.40        8.4          328  28.2
3307         43.4          15.2         5.29       10.1          326  28.7
3308         32.4          10.7         3.66        9.4          214  29.2

      MCHC   MCV  AGE  SEX
0     32.8  80.9   33    0
1     31.4  65.0   36    1
2     32.6  93.9   70    0
3     34.4  89.7   18    0
4     32.8  83.7   36    1
...    ...   ...  ...  ...
3304  33.8  87.6   45    1
3305  32.3  77.7    1    0
3306  32.5  86.8   64    1
3307  35.0  82.0   33    1
3308  33.0  88.5   72    0

[3309 rows x 10 columns]

In [10]:
print(Y)

0       1
1       0
2       0
3       0
4       0
       ..
3304    1
3305    1
3306    0
3307    0
3308    1
Name: SOURCE, Length: 3309, dtype: int64

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(3309, 10) (2647, 10) (662, 10)

In [13]:
classifier = svm.SVC(kernel='linear')

In [14]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [15]:
X_train_prediction = classifier.predict(X_train)
training_data_accurasy = accuracy_score(X_train_prediction, Y_train)

In [16]:
print('akurasi data training :', training_data_accurasy)

akurasi data training : 0.7128825085001889

In [17]:
X_test_prediction = classifier.predict(X_test)
test_data_accurasy = accuracy_score(X_test_prediction, Y_test)

In [18]:
print('akurasi data testing :', test_data_accurasy)

akurasi data testing : 0.7069486404833837

In [32]:
input_data = (31.7,10.5,3.84,15.1,45,27.3,33.1,82.6,71,1)
input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('pasien rawat jalan')
else:
    print('dalam perawatan pasien')

[1]
dalam perawatan pasien

c:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [21]:
import pickle

In [23]:
import pickle
filename = 'treatment_patient.sav'
pickle.dump(classifier, open(filename,'wb'))